* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}


body {
    min-height: 100vh;
    display: flex;
    background-color: rgb(58, 58, 58);
    font-size: xx-large;
    justify-content: center;
}

#notice {
    position: absolute;
    margin: 0 auto;
    color: rgb(153, 153, 153);
    top: 50;
    font-size: medium;
}

div[id="MoneyLabel"] {
    position: absolute;
    color: rgb(168, 255, 221);
    font-family: monospace;
    margin: 0 auto;
    margin-top: 70px;
}

pre {
    display: flex;
}

button[id="buywater"] {
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 200px;
    padding: 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

#buywaterelse {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 240px;
    color: white;
    font-size: medium;
    padding: 20px
}

button[id="sellwater"] {
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 420px;
    padding: 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

#returnwater {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 460px;
    color: white;
    font-size: medium;
    padding: 20px;
}

#drinkwater {
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 320px;
    padding: 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}


#waterbottleimage {
    position: absolute;
    top: 219;
    margin: 0 auto;
    transform: translateX(260px);
    bottom: 50%;
    color: white;
    font-size: medium;
    padding: 20px;
    z-index: 2;
}

#waterbottle {
    position: absolute;
    top: 266;
    margin: 0 auto;
    transform: translateX(259px);
    z-index: 1;
    width: 100px;
    background-color: lightblue;
    height: 0px;
    transition: top 0.3s cubic-bezier(0,1.16,.36,.94), height 0.3s cubic-bezier(0,1.16,.36,.94);
}

#drinkwatercooldown {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 360px;
    color: white;
    font-size: medium;
    padding: 20px;
}

#hardreset {
    cursor: pointer;
    position: absolute;                                                   
    padding: 20px;
    left: 10px;
    bottom: 10px;
    background-color: rgba(177, 0, 0, 0.338);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(177, 0, 0);
}

#upgrades {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    margin: 0 auto;
    top: 590;
    background-color: transparent;
    width: 600;
    height: 130;
}
.title {
    margin: 0 auto;
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold;
    margin-bottom: 5px; /* Space between title and description */
}
.description {
    margin: 0 auto;
    font-size: 14px; /* Adjust font size as needed */
}

#upgradestext{
    position: absolute;
    margin: 0 auto;
    top: 500;
    color: white;
}

.upgrades {
    cursor: pointer;
    padding: 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 160px;
}